* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body-21 {
  width: 400px;
  height: 300px;
  background-color: #222;
  position: relative;
}
.sitepoint-part-1 {
  width: 30px;
  height: 100px;
  background-color: #f2994a;
  border-bottom-left-radius: 10px;
  rotate: 45deg;
  position: absolute;
  top: 60px;
  left: 155px;
}
.sitepoint-part-2 {
  width: 30px;
  height: 60px;
  background-color: #f2994a;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  rotate: -45deg;
  position: absolute;
  top: 130px;
  left: 156px;
}
.sitepoint-part-3 {
  width: 30px;
  height: 80px;
  background-color: #2d9cdb;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  rotate: 135deg;
  position: absolute;
  top: 110px;
  right: 150px;
}
.sitepoint-part-4 {
  width: 30px;
  height: 90px;
  background-color: #2d9cdb;
  border-bottom-left-radius: 10px;
  rotate: -135deg;
  position: absolute;
  top: 150px;
  right: 160px;
}
